/* global.css */

@font-face {
  font-family: 'Helvetica Now';
  src: url('../public/fonts/helvetica-now/helveticanowtext-black-demo.ttf') format('truetype'),
    url('../public/fonts/helvetica-now/helveticanowtext-blackitalic-demo.ttf') format('truetype'),
    url('../public/fonts/helvetica-now/helveticanowtext-bold-demo.ttf') format('truetype'),
    url('../public/fonts/helvetica-now/helveticanowtext-bolditalic-demo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Importa las directivas básicas de Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importar otros estilos */
@import './variables.css';
@import './button.css';
@import './card.css';
@import './inputs.css';
@import './navbar.css';
@import './footer.css';
@import './alert.css';
@import './avatar.css';

/* Estilos globales personalizados */
body {
  font-family: 'Helvetica Now', sans-serif;
  font-size: var(--font-size-base);
  color: var(--text-color);
  background-color: var(--background-color);
}

.content {
  padding: 1rem;
}

/* Estilo para enlaces */
a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
