/* navbar.css */

/* Estilo para el contenedor de la barra de navegación */
.navbar {
  background-color: var(--color-primary); /* Usar la variable de color de fondo */
  color: var(--text-color); /* Usar la variable de color de texto */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem; /* Añadir padding si es necesario */
}

/* Estilo para el logotipo de la barra de navegación */
.navbar-logo a {
  color: var(--text-color); /* Color del texto del logotipo */
  text-decoration: none; /* Sin subrayado en el enlace */
  font-size: var(--font-size-large); /* Tamaño de fuente grande para el logotipo */
  font-weight: bold; /* Fuente en negrita */
}

/* Estilo para el contenedor de los enlaces */
.navbar-links {
  display: flex; /* Usar flexbox para alinear los enlaces horizontalmente */
  list-style: none; /* Quitar viñetas de la lista */
  padding: 0; /* Quitar el padding de la lista */
  margin: 0; /* Quitar el margen de la lista */
}

/* Estilo para los enlaces de la barra de navegación */
.navbar-links a {
  color: var(--text-color); /* Color del texto de los enlaces */
  text-decoration: none; /* Sin subrayado en los enlaces */
  padding: 0rem 0.5rem; /* Espaciado alrededor del enlace */
  font-size: var(--font-size-base); /* Tamaño de fuente base */
  display: flex; /* Asegura que el padding se aplique correctamente */
  align-items: center; /* Centra verticalmente el texto en los enlaces */
}

/* Estilo para los enlaces al pasar el ratón por encima */
.navbar-links a:hover {
  color: var(--color-primary-hover); /* Color al pasar el ratón por encima */
}

/* Estilo para el botón de menú (hamburguesa) */
.navbar-toggle .toggle-button {
  background: none; /* Sin fondo */
  border: none; /* Sin borde */
  color: var(--text-color); /* Color del texto del botón */
  font-size: 1.5rem; /* Tamaño de fuente del botón */
  cursor: pointer; /* Cambia el cursor a una mano para indicar clickeable */
  display: none; /* Oculta el botón por defecto en pantallas grandes */
}

/* Estilo para la vista en dispositivos móviles */
@media (max-width: 768px) {
  .navbar-links {
    display: none; /* Oculta los enlaces en pantallas pequeñas por defecto */
    flex-direction: column; /* Muestra los enlaces en columna */
    position: absolute; /* Posiciona la lista de enlaces de forma absoluta */
    top: 60px; /* Ajusta la posición desde el top */
    right: 20px; /* Ajusta la posición desde el borde derecho */
    background-color: var(--background-color); /* Fondo del menú desplegable */
    width: 200px; /* Ancho del menú desplegable */
  }

  .navbar-links.active {
    display: flex; /* Muestra los enlaces cuando el botón de menú está activo */
  }

  .navbar-toggle .toggle-button {
    display: block; /* Muestra el botón de menú en pantallas pequeñas */
  }
}
